body {
    text-align: center;
}

.weather-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 5rem;
    align-self: center;
}

.weather-box{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}